body {
    margin: 0;
    padding:0;
    background-color: black;
    color: white;
}

#app{
    margin: 0 50px
}

#heading {
    margin-top: 50px;
    margin-bottom: 100px
}

#heading h3 {
    padding: 0;
    margin: 0;
}

#heading h1 {
    padding: 10px 0 0 0;
    margin:0;
    font-size: 40px
}

#main-show-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.showCard {
    margin: 10px;
    transition: all .3s cubic-bezier(0.34, 1.56, 0.64, 1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color:white;
}

.showCard:hover {
    transform: translateY(-7px);
}

.showCard img {
    width: 200px;
    border-radius: 20px;
    transition: filter 0.3s ease; 
    height: 300px;
    object-fit: cover;
}

.showCard .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 20px; 
}

.showCard .overlay p{
    text-align: center;
}
.overlay-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showCard:hover img {
    filter: brightness(50%);
}

.showCard:hover .overlay {
    opacity: 1;
}

.rating-div{
    display: flex;
}

.rating-div p {
    padding-right: 6px;
    text-decoration: none;
}

.cardLink{
    text-decoration: none;
}

#saved-heading{
    margin-top: 30px;
    margin-bottom: 20px;
}

.pag{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pag h3{
    padding: 0 10px;
    margin: 0;
}
.pag svg, .overlay-content svg{
    transition: all .2s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.pag svg:hover{
    cursor:pointer;
    transform: scale(1.2);
}

.overlay-content svg:hover{
    cursor:pointer;
    transform: scale(1.1);
}