body{
    color: white;
}
ul {
    display: flex;
}
.little-details {
    padding-right: 20px;
    
}
li#air-date.little-details{
    list-style-type: none;
}
li.little-details::marker{
    font-size: 10px;
}
ul#genre-Id{
    display: flex;
    list-style-type: none;
}
li.genreLi{
    padding: 10px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 15px 50px 30px 5px; 
}
h1 { 
    font-size: 40px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bolder;

}
/* h1::first-letter{
    color: red;
 } */
.top{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: baseline
}
.smaller-details {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}
#details{
    width: 100%;
}
#starting-info {
    display: flex;
}

#star {
    height: 30px;
    margin-left: 20px;
}
#tv-image {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding : 45px
}

#show-poster {
/* height: 100%; */
height: 600px;
margin-left: 24px;
margin-top: 17px;
border-radius: 20px;
}
#more-info {
    font-size: large;
    padding-left: 100px;
    line-height: 45px;
    padding-right: 100px;
}
p#rating {
    display: flex;
    padding-left: 10px;
    padding-right: 20px;
;
}